body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    color: #1877f2;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-box {
    background: white;
    width: 350px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

form input {
    width: 80%;
    padding: 14px 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

form input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 3px rgba(24, 119, 242, 0.2);
}


form button {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #166fe5;
}

.link, .signup {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
}

.link:hover, .signup:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}
